{% extends "base.html" %}
{% block content %}
<h2>42 Coffee Cups Testing Assigment</h2>
<div class="user-profile">
    <div class="user-info credentials">
        <div id="user-name">
            <strong>Name: </strong>{{ user_info.name }}<br>
        </div>
        <div id="user-surname">
            <strong>Surname: </strong>{{ user_info.surname }}<br>
        </div>
        <div id="user-birthdate">
            <strong>Birth date: </strong>{{ user_info.birth_date|date:'Y-m-d' }}
        </div>
    </div>
    <div class="user-info contacts">
        <div id="user-email">
            <strong>Email: </strong>{{ user_info.contact_email }}<br>
        </div>
        <div id="user-jabber">
            <strong>Jabber: </strong>{{ user_info.contact_jabber }}<br>
        </div>
        <div id="user-phonenumber">
            <strong>Phone: </strong>{{ user_info.contact_phone }}<br>
        </div>
        <div id="user-skype">
            <strong>Skype: </strong>{{ user_info.contact_skype }}
        </div>
        <div id="user-othercontacts">
            <strong>Other contacts:</strong>
            <p>{{ user_info.contact_other|safe }}</p>
        </div>
        <div id='user-bio'>
            <strong>BIO:</strong>
            <p>{{ user_info.bio }}</p>
        </div>
    </div>
</div>
{% endblock %}
