{% extends 'base.html' %}
{% block content %}
	<table>
		<thead>
			<tr>
				<th>10 First HTTP Requests</th>
			</tr>
			<tr>
				<th>Request path</th>
				<th>Request method</th>
				<th>Request time</th>
			</tr>
		</thead>
		<tbody>
			{% for request in first_requests %}
				<tr>
					<td class='request-path'>{{ request.request_path }}</td>
					<td class='request-method'>{{ request.request_method }}</td>
					<td class='request-time'>{{ request.request_time }}</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}