body {
    width: 50%;
    margin: auto;

}
.user-profile
{
	overflow: auto;
}

.user-info {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.contacts {
	float: right;
}

.requests-table
{
    width: 50%;
    margin: auto;
}

.right-column
{
	display: block;
	width: 30%;
}

.edit-form
{
	width: 100%;
	margin: auto;
}
.edit-table
{	
	width: 43%;
	display: inline-block;
	margin: auto;
	height: 200x;
}

#user-photo-preview
{
	width: 320px;
	height: 400px;
}
