body
{
    width: 50%;
    margin: auto;
}

.content
{
    width: 100%;
    display: inline-block;
}

.user-menu
{
    margin-top: 10px;
    border-top: 1px solid black;
}

.user-profile
{
	overflow: auto;
}

.user-info
{
    display: inline-block;
    width: 50%;
    height: 50%;
}

.contacts
{
	float: right;
}

.requests-table
{
    width: 50%;
    margin: auto;
}

.right-column
{
	display: block;
	width: 30%;
}

.block
{
    display: inline-block;
}

.right-block
{   width: 50%;
    float: right;
}

.left-block
{
    float: left;
    width: 50%;

}

.submit-set
{
    vertical-align: bottom;
}

.input-label
{
    width: 90px;
}
.form-control
{
    display: inline-block;
}
.field-error
{
    margin-left: 110px;
    max-width: 250px;
}
.error-text
{
    font-size: 0.8em;
}


