body
{
    width: 50%;
    margin: auto;
}

.content
{
    width: 100%;
    display: inline-block;
}

.user-menu
{
    margin-top: 10px;
    border-top: 1px solid black;
}

.user-edit-menu
{
    float: right;
    margin-top: 3%;
}

.inline-block
{
    display: inline-block;
}

.user-profile
{
        overflow: auto;
}

.user-info
{
    display: inline-block;
    width: 50%;
    height: 50%;
}

.contacts
{
        float: right;
}

.requests-table
{
    width: 50%;
    margin: auto;
}

.right-column
{
        display: block;
        width: 30%;
}

.block
{
    display: inline-block;
}

.right-block
{ width: 50%;
    float: right;
}

.left-block
{
    float: left;
    width: 50%;

}

.submit-set
{
    vertical-align: bottom;
}

.input-label
{
    width: 90px;
}
.form-control
{
    display: inline-block;
}
.field-error
{
    margin-left: 110px;
    max-width: 250px;
}
.error-text
{
    font-size: 0.8em;
}

.error-input
{
	border: 2px solid red;
	border-radius: 3px;
	color: #c0392b;
}

.clickable:hover
{
    cursor: pointer;
    background-color: #bdc3c7;
}

/* tables */
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 9pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(/static/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/static/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/static/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
