{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
<div class="edit-content">
	<form enctype="multipart/form-data" class="edit-form" method="post" action="{% url 'edit' %}">
		{% csrf_token %}
		<div class="left-block block">
			<div class="top-left">
				<div class="form-group">
					<div class="input-label form-control">
						{{ edit_form.name.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.name }}
					</div>
					{% for error in edit_form.name.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
				<div class="form-group">
					<div class="input-label form-control">
						{{ edit_form.surname.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.surname }}
					</div>
					{% for error in edit_form.surname.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
				<div class="form-group ">
					<div class="input-label form-control">
						{{ edit_form.birth_date.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.birth_date }}
					</div>
					{% for error in edit_form.birth_date.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="bottom-left">
				<div class="form-group" id="user-photo-preview">
					<div class="input-label form-control">
						{{ edit_form.photo.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.photo }}
					</div>
					{% for error in edit_form.photo.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
					<div class="user-photo">
						<div class="edit-table bottom-left">
                            {% thumbnail edit_form.instance.photo "320x400" as im %}
                    			<img id="user-photo-preview"src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-thumbnail" alt="Photo">
                    		{% endthumbnail %}
                    	</div>
                    </div>
				</div>
			</div>
		</div><!--left-block-->
		<div class="right-block block">
			<div class="top-right">
				<div class="form-group">
					<div class="input-label form-control">
						{{ edit_form.contact_email.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.contact_email }}
					</div>
					{% for error in edit_form.contact_email.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
				<div class="form-group">
					<div class="input-label form-control">
						{{ edit_form.contact_jabber.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.contact_jabber }}
					</div>
					{% for error in edit_form.contact_jabber.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
				<div class="form-group">
					<div class="input-label form-control">
						{{ edit_form.contact_skype.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.contact_skype }}
					</div>
					{% for error in edit_form.contact_skype.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
				<div class="form-group">
					<div class="input-label form-control">
						{{ edit_form.contact_phone.label }}
					</div>
					<div class="input-field form-control">
						{{ edit_form.contact_phone }}
					</div>
					{% for error in edit_form.contact_phone.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="bottom-right">
				<div class="form-group">
					<div class="input-label">
						{{ edit_form.contact_other.label }}
					</div>
					<div class="input-field">
						{{ edit_form.contact_other }}
					</div>
					{% for error in edit_form.contact_other.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
				<div class="form-group">
					<div class="input-label">
						{{ edit_form.bio.label }}
					</div>
					<div class="input-field">
						{{ edit_form.bio }}
					</div>
					{% for error in edit_form.bio.errors %}
						<div class="field-error error-text">
							<strong>{{ error }}</strong>
						</div>
					{% endfor %}
				</div>
			</div>
		</div><!--right block-->
		<div class="submit-set content">
			<input type="submit" value="Save">
			<a href="{% url 'home' %}">Cancel</a>
		</div>
	</form>
</div>
{% endblock %}
